@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
    --num-bars: 100;
}

* {
    align-items: center;
    margin: 0;
    font-family: "Quicksand";
    color: #333;
    background-color: #7a7a7a;
}

.array-container {
    width: 80%;
    position: absolute;
    left: 10%;
    justify-content: space-between;
    /* top: 100px; */
}
  
.array-bar {
    width: round(calc(100% / var(--num-bars) - 1px), 1px); 
    
    display: inline-block;
    margin: 0 0.5px;
}

.slidecontainer {
    width: 20%; /* Width of the outside container */
  }
  
  /* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  